.container
    table.table.table-striped.table-hover
        tr
            th Name
            th Username
        tr(ng-repeat="user in users")
            td {{user.firstName + ' ' + user.lastName }}
            td {{user.username }}